{% extends 'shop/basic.html' %}

{% block body %}

<header class="mx-auto max-w-xl py-20 text-center">
			{% comment %} <a href="#" class="block text-2xl mb-12">Company Name</a> {% endcomment %}

			<ul class="flex justify-center uppercase text-xs">
				<li>
					<a href="#" class="mx-4 hover:text-gray-600"><strong style="font-size:medium">Home</strong></a>
				</li>
				<li>
					<a href="#" class="mx-4 hover:text-gray-600"><strong style="font-size:medium">Blog</strong></a>
				</li>
				<li>
					<a href="#" class="mx-4 hover:text-gray-600"><strong style="font-size:medium">Contact</strong></a>
				</li>
			</ul>
		</header>


		<div class="mx-auto max-w-6xl bg-white py-2 px-12 lg:px-24 shadow-xl mb-24">

			<div class="mb-12">
				<h1 class="text-3xl lg:text-4xl text-center mb-6 tracking-wider">About Us</h1>

				<p class="tracking-wide text-sm mb-6 leading-relaxed mx-auto max-w-xl text-center">At Teckart, it is our core values that guide all aspects of our business and the way we conduct ourselves. We strive to do the right thing, in the right way at all times. Here’s what being a Flipster is all about. </p>

				<p class="tracking-wide text-xs text-gray-600 leading-loose mx-auto max-w-xl text-center">Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam quis risus eget urna mollis ornare vel eu leo. Cras mattis consectetur purus sit amet fermentum.</p>
			</div>


			<div class="flex flex-wrap -mx-2">
				
				<div class="w-1/4 p-2">
					<a href="#" class="block mb-8 bg-black hover:bg-gray-700">
						<img src="/media/shop/images/sk.JPG" class="w-full h-auto opacity-75" />
					</a>
					<a href="#" class="block text-xl text-center">Fashion &amp; Beauty</a>
				</div>
				
				<div class="w-1/4 p-2">
					<a href="#" class="block mb-8 bg-black hover:bg-gray-700">
						<img src="/media/shop/images/s1.jpg" class="w-full h-auto opacity-75" />
					</a>
					<a href="#" class="block text-xl text-center">Lifestyle</a>
				</div>
				
				<div class="w-1/4 p-2">
					<a href="#" class="block mb-8 bg-black hover:bg-gray-700">
						<img src="/media/shop/images/Sh.jpg" class="w-full h-auto opacity-75" />
					</a>
					<a href="#" class="block text-xl text-center">Travel</a>
				</div>

				<div class="w-1/4 p-2">
					<a href="#" class="block mb-8 bg-black hover:bg-gray-700">
						<img src="/media/shop/images/Rk.jpg" class="w-full h-auto opacity-75" />
					</a>
					<a href="#" class="block text-xl text-center">Travel</a>
				</div>

			</div>


		</div>

		<div class="-mx-6 bg-white px-6 py-12">
			
			<div class="mx-auto container text-gray-800 text-sm flex justify-between">
				<span>Powered by <a href="https://digizu.co.uk" class="text-black">Teckart</a></span>
				<span>&copy; copyright 2020</span>
			</div>

		</div>


{% endblock body %}