{% extends 'shop/basic.html' %} 
{% block title %} Teckart {% endblock title %}
{% block body %}


<main class="my-8">
        <div class="container mx-auto px-6">
          <div class="md:flex md:items-center">
            <div class="w-full h-64 md:w-1/2 lg:h-96">
              <img
                class="h-full rounded-md object-cover max-w-lg mx-auto"
                src="/media/{{product.image }}"
                alt=""
              />
            </div>
            <div class="w-full max-w-lg mx-auto mt-5 md:ml-8 md:mt-0 md:w-1/2">
              <h3 class="text-gray-700 uppercase text-lg">{{product.product_name}}</h3>
              <span class="text-gray-500 mt-3">Rs.{{product.price}}</span>
              <hr class="my-3" />
          <div class=""> <h3>Description</h3><span class="text-gray-500 mt-3">{{product.desc}}</span></div>
              <div class="mt-2">
                <label class="text-gray-700 text-sm" for="count">Count:</label>

                {% comment %} Increment Button {% endcomment %}
                <div class="flex items-center mt-1">
                  <button
                    class="text-gray-500 focus:outline-none focus:text-gray-600 incCount"
                  >
                    <svg
                      class="h-5 w-5"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                      ></path>
                    </svg>
                  </button>
                  <span class="text-gray-700 text-lg mx-2 itemCount">1</span>
                  <button
                    class="text-gray-500 focus:outline-none focus:text-gray-600 decCount"
                  >
                    <svg
                      class="h-5 w-5"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                      ></path>
                    </svg>
                  </button>
                </div>
              </div>
             
              <div class="flex items-center mt-6">
                <a
                  href="/checkout"
                  class="px-8 py-2 bg-indigo-600 text-white text-sm font-medium rounded hover:bg-indigo-500 focus:outline-none focus:bg-indigo-500"
                >
                  Order Now
                </a>
                <button
                  class="mx-2 text-gray-600 border rounded-md p-2 hover:bg-gray-200 focus:outline-none cart"
                >
                  <svg
                    class="h-5 w-5"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
                    ></path>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          {% comment %} Suggestions {% endcomment %}
          <div class=" flex flex-row flex-wrap"  >
            <h2><strong> Suggestions</strong></h3>
            {% for product in suggestions  %}

    <div class="w-full md:w-1/3 xl:w-1/4 p-6 flex flex-col " >
      <a href="/{{url_parts}}/{{product.id}}">
        <img style='object-fit: contain;height: 300px;'
          class="hover:grow hover:shadow-lg"
          src="/media/{{product.image}}"
        />
        
        <div class="pt-3 flex items-center justify-between">
          <p class=""> {{product.product_name}} </p>
          <svg
            class="h-6 w-6 fill-current text-gray-500 hover:text-black"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <path
              d="M12,4.595c-1.104-1.006-2.512-1.558-3.996-1.558c-1.578,0-3.072,0.623-4.213,1.758c-2.353,2.363-2.352,6.059,0.002,8.412 l7.332,7.332c0.17,0.299,0.498,0.492,0.875,0.492c0.322,0,0.609-0.163,0.792-0.409l7.415-7.415 c2.354-2.354,2.354-6.049-0.002-8.416c-1.137-1.131-2.631-1.754-4.209-1.754C14.513,3.037,13.104,3.589,12,4.595z M18.791,6.205 c1.563,1.571,1.564,4.025,0.002,5.588L12,18.586l-6.793-6.793C3.645,10.23,3.646,7.776,5.205,6.209 c0.76-0.756,1.754-1.172,2.799-1.172s2.035,0.416,2.789,1.17l0.5,0.5c0.391,0.391,1.023,0.391,1.414,0l0.5-0.5 C14.719,4.698,17.281,4.702,18.791,6.205z"
            />
          </svg>
        </div>
        <p class="pt-1 text-gray-900">Rs.{{product.price}}</p>
      </a>
    </div>
    {% endfor %}

    
  </div>
        </div>
      </main>

{% endblock body %}

{% block js %}
<script>
var cartItem=[];
cartItem.push({'name':' a','qty':'3'})
console.log('script added')
  itemCount=document.querySelector('.itemCount')
  incCount=document.querySelector('.incCount')
  decCount=document.querySelector('.decCount')
  cart=document.querySelector('.cart') 
  
  incCount.addEventListener('click',function(){
    itemCount.innerHTML= `<span>${parseInt(itemCount.innerText)+1}</span> `
  })
  decCount.addEventListener('click',function(){
    if(itemCount.innerText!=0){
    itemCount.innerHTML= `<span>${parseInt(itemCount.innerText)-1}</span> `
    }
  })
  
  cart.addEventListener('click',function(e){
    {% comment %} cartItem.[] {% endcomment %}
    console.log('cart clicked')
    //console.log(e)
    console.log(cartItem)
 })
  
</script>
{% endblock js %}